* {
    /*seletor universal*/
    box-sizing: border-box;
    color: #5e594e;
    font-family: Georgia, serif;
    border-radius: 6px;
    margin-top: 10px;
} 

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: #add5fa;
}

#container {
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

#container nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    width: 100%;
}

#container nav img {
    max-width: 105px;
}

#container nav .toggle {
    display: none;
    height: 20px;
    width: 20px;
}

.link-do-cabecalho {
    margin-right: 15px;
    color: #217ed4;
    text-decoration: none;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 20pt;
}

form {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    width: 49%;
    height: 80%;
}

form textarea,
form input {
    width: 100%;
    outline: none;
    border-radius: 10px;
    border: none;
}

form button {
    margin-top: 10px;
    height: 45px;
    width: 100%;
    font-size: 14pt;

}

main #historias article.artigo{
    border: 1px solid #5e594e;
    width: 40vw;
    background-color: rgb(255, 255, 255);
       
}

main #historias article.artigo h3 {
    font-family: 'Georgia, serif';
    color: #5e594e;
    font-style: italic;
    font-size: 16pt;
}

@media (max-width: 600px) {
    /*Media query para ajustar o cabeçalho em aparelhos móveis */

    header nav img {
        max-height: 80px;

    }

    #container nav {
        position: relative;
        justify-content: space-between;
        align-items: center;
    }

    #container nav .toggle {
        display: block;
        border-right: 2px solid #c9bda5;
        border-bottom: 2px solid #c9bda5;
        transform: rotateZ(45deg);
        cursor: pointer;
        margin-top: -10px;
        margin-right: 10px;
    }


    #container nav a {
        display: none;
        width: 100%;
        text-align: center;
        margin: 0;
        border-bottom: 1px solid #c9bda5;
        position: absolute;
        z-index: 10;
    }

    #container nav a:nth-of-type(1) {
        top: 100px;
    }

    #container nav a:nth-of-type(2) {
        top: 160px;
    }

    #container nav a:nth-of-type(3) {
        top: 220px;
    }

    #container nav.active .toggle {
        transform: rotate(225deg);
        margin-top: 5px;
    }

    main #historias article.artigo {
        box-shadow: 10px 5px 5px #5e594e;
        border: 1px solid #5e594e;
        overflow: hidden;
        white-space: nowrap;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        display: -webkit-box;
        display: -webkit-box;
        border: 1px solid #5e594e;
        max-width: 50%;
    }

    main #historias article.artigo strong {
        font-variant: small-caps;
        color: #5e594e;
        font-size: 12pt;
    }

    main #historias article.artigo h3 {
        font-family: 'Georgia, serif';
        color: #5e594e;
        font-style: italic;
        font-size: 16pt;
    }

    #container nav.active a {
        display: block;
        background-color: #f4ecd8;
        height: 60px;
        width: 100%;
        margin: 0;
        border-top: 1px solid #c9bda5;
    }

    #container nav.active a:nth-of-type(1) {
        bottom: 100px;
    }

    #container nav.active a:nth-of-type(2) {
        bottom: 160px;
    }

    #container nav.active a:nth-of-type(3) {
        bottom: 220px;
        border-bottom: 2px solid #5e594e;

    }

}