* { /*seletor universal*/
    box-sizing: border-box;
    color: #5e594e;

    font-family: 'Georgia, serif';
    font-size: 30pt;
    
}

body {
    height: 100vh; /*altura*/
    width: 100vw; /*largura*/
    margin: 0; /*margem*/
    background-color: #ADD5FA;
}

#container {
    width: 80vw;
    margin: 0 auto;
    background-color: #ADD5FA;
}

header {
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ADD5FA;
}

header img {
    max-height: 105%;
    margin: auto 0;
}

.link_do_cabecalho {
 margin-right: 15px;
 color: #217ed4;
 text-decoration: none;
 font-variant: small-caps;
 font-weight: bold;
 font-size: 20pt;
}



#container section{
  width: 100%;
  height: 80vh;
 background-color: #ADD5FA;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

#container section h1 {
    font-style: italic;
    font-family: 'Georgia, serif';
    font-size: 30pt;
    color: #5e594e;
    text-decoration: underline;
    margin: 0;
    margin-left: 45%;
}

p{
    font-family: Georgia, serif;
    font-size: 20pt;
    color: #5e594e;
    
}